## Example

In this example we calculate r-squared. We can try to write out own linear regression model using numpy once we've understood all the concepts.

Lets first use a sample data frame

In [1]:
import pandas as pd

In [2]:
df_dict = {"mouse_weight":[5.7, 3.3, 5.6, 7.8, 6.1, 5.4],
           "mouse_height":[3.6, 1.4, 3.2, 5.4, 4.5, 3.2],
           "mouse_waist_measure":[2.1, 1.1, 2.4, 4.2, 3.4, 2.2]}

In [3]:
df = pd.DataFrame(df_dict)

In [4]:
df

   mouse_weight  mouse_height  mouse_waist_measure
0           5.7           3.6                  2.1
1           3.3           1.4                  1.1
2           5.6           3.2                  2.4
3           7.8           5.4                  4.2
4           6.1           4.5                  3.4
5           5.4           3.2                  2.2

Calculating R-squared

In [7]:
def var_line(df, x, y, m, b):
    temp = []
    tsum = 0
    for values in df[x]:
        temp.append(m*values + b)
    for x_values,y_values in zip(temp, df[y]):
        tsum += (x_values - y_values)**2
    return tsum
    
def var_mean(df, y):
    tsum = 0
    y_bar = df[y].mean()
    for x in df[y]:
        tsum += (x - y_bar)**2
    return tsum

def r_squared(df, x, y, m, b):
    return((var_mean(df, y)- var_line(df, x, y, m, b))/var_mean(df, y))

for line y = 0.99x - 2

In [8]:
r_squared(df, 'mouse_height', 'mouse_weight', 0.99, 2)

0.9425366298607778